<% include partials/header %>


  <h1>Show template</h1>

  <p>
    <%= campground.name %>
  </p>

  <img src="<%= campground.image %>" alt="Image of <%= campground.name %> camp site">

  <p>
    <%= campground.description %>
  </p>

  <% include partials/header %>