.thumbnail img {
  width: 100%;
}

.thumbnail{
  padding: 0;
}

.caption-full{
  padding: 9px;
}

.deleteButton{
  display:inline-block;
}
/* Google Maps CSS */
#map{
  height: 400px;
  width: 100%;
}

.userCampList{
  width: 100px;
  height: 100px;
}